@model INSCmapaFerias.Areas.Identity.Data.ApplicationUser;

@{
    ViewData["Title"] = "Detalhes";
}

<div class="container">

    <div class="row">
        <h1 class="text-center">Férias</h1>
    </div>

    <div class="row">
        <dl>
    
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
        

            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
        </dl>

</div>

