@{
    ViewData["Title"] = "Imprimir";
}

<div class="container">
    <div class="row">
        <button class="btn btnImprimir" onclick="window.print()">Imprimir</button>
    </div>

    <div class="row">

    </div>
</div>